In [ ]:
print("hello world")
print(5)


if True:
  print("hello")
  if True:
      print("auch das")  


print("jetzt weiter im code")

hello world
5
hello
auch das
jetzt weiter im code
hello

In [ ]:
user_input = "hello"

print(user_input)

# snake_case <---
# camelCase
# PascalCase
# kebab-case

hello

In [8]:

my_string_1 = "Hallo"
my_string_2 = 'Hallo'
my_string_3 = """Hallo das ist ein
ganz langer string.
Der mehrere Zeilen nutzt."""

print(my_string_3)

Hallo das ist ein
ganz langer string.
Der mehrere Zeilen nutzt.

In [ ]:
name = "World"

my_fstring = f"Hello { name }"

print(my_fstring)

Hello World

In [22]:
print("hello", "world", "again",sep= "‚ù§Ô∏è", end= "üëå" )
print("hello", "world", "again",sep= "‚ù§Ô∏è", end= "üëå\n" )

print("Ich m√∂chte gerne \n zwei Zeilen \n oder sogar drei.")

hello‚ù§Ô∏èworld‚ù§Ô∏èagainüëåhello‚ù§Ô∏èworld‚ù§Ô∏èagainüëå
Ich m√∂chte gerne
 zwei Zeilen
 oder sogar drei.

In [23]:
name = input("wer?")
print(name)

re

Aufgabe 13: Preis mit zwei Nachkommastellen anzeigen
Erg√§nze den Code, um den Preis in Euro auf zwei Nachkommastellen anzuzeigen.

In [ ]:
preis = 19.995
print(f"Der Preis betr√§gt {preis:.2f} ‚Ç¨")


preis_str = str(preis)
print(preis)
print(preis_str)

Der Preis betr√§gt 20.00 ‚Ç¨
19.995
19.995

In [ ]:
import math

preis = 19.995
preis_gek√ºrzt = math.floor(preis * 100) / 100
print(f"Der Preis betr√§gt {preis_gek√ºrzt:.2f} ‚Ç¨")

In [ ]:

if True and True or False:
#->.    True.    or False
    print("1")

if True and False or False:
#->.    False     or False
    print("2")

if False and False or True:
#->.     False.    or True
    print("3")

1
3

string
integer
float
boolean

list = ["Apfel", "Banane", "Kiwi"]

In [3]:

obstkorb = ["Apfel", "Banane", "Kiwi"]

print(obstkorb)
print(obstkorb[0])
print(obstkorb[1])
print(obstkorb[2])

['Apfel', 'Banane', 'Kiwi']
Apfel
Banane
Kiwi

In [ ]:
for i in range(3): # range(0, 3, 1)
    print(i)

print("ende")

0
1
2
ende

In [ ]:
for i in range(3, 7): # range(3, 7, 1)
    print(i)

print("ende")

3
4
5
6
ende

In [18]:
for i in range(3, 5, 1):
    print(i)

print("ende")

3
4
ende

In [19]:
obstkorb = ["Apfel", "Banane", "Kiwi"]

for obst in obstkorb:
    print(obst)

Apfel
Banane
Kiwi

In [21]:
for i in range(len(obstkorb)):
    print(i, obstkorb[i])

0 Apfel
1 Banane
2 Kiwi

In [29]:
for index, obst in enumerate(obstkorb):
    print(index, obst)

    print(f"Auf Platz {index + 1} ist {obst}")

0 Apfel
Auf Platz 1 ist Apfel
1 Banane
Auf Platz 2 ist Banane
2 Kiwi
Auf Platz 3 ist Kiwi

In [37]:
zahl = 5

#zahl = zahl + 2

zahl *= 2

print(zahl)

10

In [41]:
for i in range(10):
    if i == 7:
        break
    print("hello")

hello
hello
hello
hello
hello
hello
hello

In [ ]:
obstkorb = ["Apfel", "Brot", "Banane", "Kiwi"]

for index, obst in enumerate(obstkorb):
    
    if obst == "Banane":
        print(f"Banane ist auf dem Platz { index + 1 }.")
        break

    print(index, obst)
    print(f"Auf Platz {index + 1} ist {obst}")

print("jetzt ist der Spa√ü vorbei!")

0 Apfel
Auf Platz 1 ist Apfel
1 Brot
Auf Platz 2 ist Brot
Banane ist auf dem Platz 3.
jetzt ist der Spa√ü vorbei!

In [51]:
for i in range(5):

    print("Die aktuelle Zahl lautet: ")

    if i == 3:
        continue

    print(i)
    print("wohoo")

print("ende")

Die aktuelle Zahl lautet:
0
wohoo
Die aktuelle Zahl lautet:
1
wohoo
Die aktuelle Zahl lautet:
2
wohoo
Die aktuelle Zahl lautet:
Die aktuelle Zahl lautet:
4
wohoo
ende

In [58]:
name = "Tony"
print(name[0])
print(name[1])
print(name[2])
print(name[-1])


cities = ["NY", "Texas", "Neuss", "Berlin"]

for city in cities:

    if city[0] != "B":
        continue

    print(f"Dicke Party in {city}")

print("Kommt alle mit")

T
o
n
y
Dicke Party in Berlin
Kommt alle mit

In [60]:
text = "1b3"

print(text.isnumeric())

False